
<table>
    <tbody>
        <tr>
                <th>Journey</th>
                <th>Stard Date</th>
                <th>End Date</th>
                <th>Remove</th>
                <th>Edit</th>
        </tr>

        <tr *ngFor="let journey of journeys; index as i">
            <td> {{ journey.from | capitalize }} to {{ journey.to | capitalize }} </td>
            <td> {{ journey.startDate }}</td>
            <td> {{ journey.endDate }}</td>
            <td><button (click)="delete(i)">Remove</button></td>
            <td><button (click)="editForm(i)">Edit</button></td>
        </tr>

        <tr *ngIf=" !journeys || !journeys.length ">
            <td> No Journey List    Found </td>
        </tr>
    </tbody>
</table>